@font-face {
  font-family: HFNSS;
  src: url("https://cdn.rawgit.com/Chadtech-Online-1/Chadtech-Online-1.github.io/master/HFNSS.ttf");
}
::-webkit-input-placeholder {
  color: #54574d;
}
body {
  background: #030907;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.point {
  font-family: HFNSS;
  color: #b0a69a;
  font-size: 2em;
  margin: 0;
}
.point.tiny {
  font-size: 1.5em;
}
.point.urgent {
  color: #b39f4b;
}
.point.urgenter {
  color: #e3d34b;
}
.point.critical {
  color: #f21d23;
}
.root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.main {
  margin: auto;
  height: 600px;
  width: 1056px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.left-hud {
  background-color: #000;
  display: inline-block;
  width: 156px;
  height: 131px;
  left: 0;
  border-color: #b0a69a;
  border-width: 2px;
  padding: 11px;
  border-style: solid;
  margin-right: 11px;
}
.key-example {
  background-color: #000;
  display: inline-block;
  width: 178px;
  height: 178px;
  border-color: #b0a69a;
  border-width: 2px;
  border-style: solid;
  margin-right: 11px;
  position: absolute;
  left: 0px;
  top: 253px;
}
.right-hud {
  margin-left: 11px;
  display: inline-block;
  width: 248px;
}
.mini-map-container {
  background-color: #030e0c;
  border-style: solid;
  border-width: 2px;
  border-color: #b0a69a;
  padding: 11px;
  width: 222px;
  height: 222px;
  float: right;
  margin-bottom: 11px;
}
.read-out-container {
  background-color: #000;
  border-style: solid;
  border-width: 2px;
  border-color: #b0a69a;
  padding: 11px;
  width: 222px;
  height: 296px;
  float: right;
}
.read-out-column {
  float: left;
  width: 111px;
}
.game-view {
  background-color: #000;
  border-radius: 50%;
  width: 600px;
  height: 600px;
  display: inline-block;
  overflow: hidden;
  border: 2px solid #b0a69a;
}
.pause {
  padding: 11px;
  position: absolute;
  top: 23px;
  left: 0px;
  width: 156px;
  height: 192px;
  float: right;
  background-color: #000;
  border-style: solid;
  border-width: 2px;
  border-color: #b0a69a;
}
.velocity-gauge {
  padding: 11px;
  z-index: 5;
  position: fixed;
  top: 23px;
  right: 258px;
  width: 58px;
  height: 40px;
  background-color: #000;
  border-style: solid;
  border-width: 2px;
  border-color: #b0a69a;
}
.paused-notice {
  padding: 11px;
  z-index: 5;
  position: fixed;
  top: 200px;
  right: 514px;
  width: 72px;
  height: 17px;
  background-color: #000;
  border-style: solid;
  border-width: 2px;
  animation-duration: 800ms;
  animation-name: blink;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  -webkit-animation: blink 800ms infinite;
  -webkit-animation-timing-function: steps(2, end);
}
.died-notice {
  padding: 11px;
  z-index: 5;
  position: fixed;
  top: 200px;
  right: 371px;
  width: 352px;
  height: 38px;
  background-color: #000;
  border-style: solid;
  border-width: 2px;
  animation-duration: 800ms;
  animation-name: blink;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  -webkit-animation: blink 800ms infinite;
  -webkit-animation-timing-function: steps(2, end);
}
.nav-markers {
  z-index: 5;
  overflow: visible;
  position: fixed;
  top: 0;
  width: 630px;
  height: 630px;
}
@-webkit-keyframes blink {
  from {
    border-color: #b0a69a;
  }
  to {
    border-color: #f21d23;
  }
}
@-moz-keyframes blink {
  from {
    border-color: #b0a69a;
  }
  to {
    border-color: #f21d23;
  }
}
@-webkit-keyframes blink {
  from {
    border-color: #b0a69a;
  }
  to {
    border-color: #f21d23;
  }
}
@-o-keyframes blink {
  from {
    border-color: #b0a69a;
  }
  to {
    border-color: #f21d23;
  }
}
@keyframes blink {
  from {
    border-color: #b0a69a;
  }
  to {
    border-color: #f21d23;
  }
}
